body {
  font-size: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 100px;
  min-width: 100px;
  background: none;
  font-size: 90px;
}

button:disabled {
  opacity: 0.3;
}
